<!DOCTYPE html>
<html lang="pt-br">

    <%- include('head') %>

<body class="container">
    
    <%- include('header') %>

    <main>
        <div class="jumbotron">
            <h1>Sobre min</h1>
            <p>Oi, eu sou Neto, professor de matemática</p>
        </div>
    </main>

    <%- include('footer') %>

</body>
</html>