<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head') %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'sobre', numero: '2'}) %>

    <main>
        <div class="jumbotron">
            <h1>Sobre min</h1>
            <p>Oi, eu sou Neto, professor de matemática</p>
        </div>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>